html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #b8b8b8;
}

.container {
  width: 50%;
  height: 80%;
  margin: 100px auto;
  padding: 20px;
  background-color: #727272;
  display: flex;
  flex-direction: column;
}